
.country-label.left{
	-fx-alignment: center;
	-fx-font-weight: normal;
	-fx-text-alignment: center;
	-fx-rotate: 90deg;
	-fx-min-width: 73.7px;
	-fx-max-width: 73.7px;
	-fx-translate-x: 30px;
}

.city-label.left{

	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-min-width: 75.9px;
	-fx-max-width: 75.9px;
	-fx-rotate: 90deg;
	-fx-translate-x: 15px;
	
}

.city-label.right{
	-fx-rotate: 270deg;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-min-width: 75.9px;
	-fx-max-width: 75.9px;
	-fx-translate-x: -15px;
}

.country-label.right{
	-fx-rotate: 270deg;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-min-width: 73.7px;
	-fx-max-width: 73.7px;
	-fx-translate-x: -30px;
}

.country-label.top{
	-fx-rotate:180deg;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-min-width: 49px;
	-fx-max-width: 60.6px;	
	-fx-translate-y: 25px;
	
}

.active{
	-fx-background-color: #5BCE68;
}

.city-label.top{
	-fx-rotate:180deg;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-min-width: 49px;
	-fx-max-width: 60.6px;	
	-fx-translate-y: 10px;
}

.country-label.bottom{

	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-min-width: 49px;
	-fx-max-width: 60.6px;	
	-fx-translate-y: -22px;
	
}

.city-label.bottom{
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-min-width: 49px;
	-fx-max-width: 60.6px;	
	-fx-translate-y: -10px;
}
.city-cell .country-header{
	-fx-background-color: #EB534E;
	
}

.price-label.left{
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-rotate: 90deg;
	-fx-translate-x: -30px;
	-fx-min-width: 73.7px;
	-fx-max-width: 73.7px;
}

.price-label.right{
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-rotate: 270deg;
	-fx-translate-x: 30px;
	-fx-min-width: 73.7px;
	-fx-max-width: 73.7px;
}

.price-label.bottom{
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-translate-y: 20px;
	-fx-min-width: 49px;
	-fx-max-width: 60.6px;	
}

.price-label.top{
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-rotate: 180deg;
	-fx-translate-y: -20px;
	-fx-min-width: 49px;
	-fx-max-width: 60.6px;	
}

.city-cell{
	-fx-font-size: 12px;
}

.general-grid{
	-fx-border-color: black;
}

.trans-util-cell.left{
	-fx-border-width: 1px 1px 0px 0px;
	-fx-border-color: #C8C8C8;
	-fx-alignment: center_right;
	-fx-pref-height: 150px;
	-fx-pref-width: 84px;
}

.trans-util-image.left{
	-fx-translate-x: -5px;
}
.trans-util-label.left{
	-fx-alignment: center;
	-fx-content-display: center;
	-fx-pref-height: 17px;
	-fx-pref-width: 59px;
	-fx-rotate: 90deg;
	-fx-translate-x: -15px;
	-fx-wrap-text: true;

}

.trans-util-price.left{	
	-fx-alignment: center;
	-fx-content-display: center;
	-fx-pref-height: 17px;
	-fx-pref-width: 56px;
	-fx-rotate: 90deg;
	-fx-translate-x: -15px;
	-fx-wrap-text: true;

	
}
.trans-util-cell.right{
	-fx-border-width: 1px 1px 0px 0px;
	-fx-border-color: #C8C8C8;
	-fx-alignment: center_right;
	-fx-pref-height: 150px;
	-fx-pref-width: 84px;
}

.trans-util-image.right{
	-fx-translate-y: -5px;
	-fx-translate-x: -5px;
	-fx-rotate: 180deg;
}
.trans-util-label.right{
	-fx-alignment: center;
	-fx-content-display: center;
	-fx-pref-height: 17px;
	-fx-pref-width: 59px;
	-fx-rotate: 270deg;
	-fx-translate-x: 5px;
	-fx-wrap-text: true;
}

.trans-util-price.right{	
	-fx-alignment: center;
	-fx-content-display: center;
	-fx-pref-height: 17px;
	-fx-pref-width: 56px;
	-fx-rotate: 270deg;
	-fx-translate-x: 15px;
	-fx-wrap-text: true;
}
.trans-util-cell.top{
	-fx-border-width: 1px 1px 0px 0px;
	-fx-border-color: #C8C8C8;
	-fx-alignment: center_right;
	-fx-pref-height: 150px;
	-fx-pref-width: 84px;
}

.trans-util-image.top{

	-fx-translate-y: -5px;
	-fx-rotate: 90deg;
}
.trans-util-label.top{
	-fx-alignment: center;
	-fx-content-display: center;
	-fx-pref-height: 17px;
	-fx-pref-width: 59px;
	-fx-rotate: 180deg;
	-fx-translate-y: -15px;
	-fx-wrap-text: true;
}

.trans-util-price.top{	
	-fx-alignment: center;
	-fx-content-display: center;
	-fx-pref-height: 17px;
	-fx-pref-width: 56px;
	-fx-rotate: 180deg;

	-fx-wrap-text: true;
}

.trans-util-cell.bottom{
	-fx-border-width: 1px 1px 0px 0px;
	-fx-border-color: #C8C8C8;
	-fx-alignment: center_right;
	-fx-pref-height: 150px;
	-fx-pref-width: 84px;
}

.trans-util-image.bottom{
	-fx-translate-y: 2px;
	-fx-rotate: 270deg;
}
.trans-util-label.bottom{
	-fx-alignment: center;
	-fx-content-display: center;
	-fx-pref-height: 17px;
	-fx-pref-width: 59px;
	-fx-translate-y: 12px;
	-fx-wrap-text: true;
}

.trans-util-price.bottom{	
	-fx-alignment: center;
	-fx-content-display: center;
	-fx-pref-height: 17px;
	-fx-pref-width: 56px;
	-fx-wrap-text: true;
}

.warrant-pane{
	-fx-border-color: #C8C8C8;
	-fx-border-width: 0px 1px 0px 1px;
}

.logo-pane{
	-fx-border-color: black;
	-fx-border-width: 1px;
}

#screen-console{
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-text-fill: blue;
	
}




